[Unit]
Description=Automatic Ambient Light Based Brightness Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/autobrightness
Restart=always
RestartSec=3
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target
